.form-group
  = f.label :name
  = f.text_field :name, :autofocus => true, class: 'form-control'
.form-group
  = f.label :email
  = f.email_field :email, class: 'form-control'
.form-group
  = f.label :password
  = f.password_field :password, class: 'form-control'
.form-group
  = f.label :password_confirmation
  = f.password_field :password_confirmation, class: 'form-control'
.accept
  By pressing Start i agree to the
  =link_to "privacy policy" , page_path(:privacy) , target: :blank
  and accept the processing of my personal data accordingly
%br
= f.submit 'Start', :class => 'button right'
