- title! "Web Development Bootcamp: Apply"
- description! "Apply to Web Dev Camp, and 9 week course to learn web programming"

.container
  .authform.margin-bottom-30
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
      %h2 Start by signing up
      %p
        You can read about the
        =link_to "application process", page_path(:apply)
        before or after.
      %h5
        Next courses
        = course_select.collect { |course , id| course}.join(" / ")

      = devise_error_messages!
      .form-group
        = f.label :name
        = f.text_field :name, :autofocus => true, class: 'form-control'
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'
      .form-group
        = f.label :street
        = f.text_field :street, class: 'form-control'
      .form-group
        = f.label :city
        = f.text_field :city, class: 'form-control'
      .form-group
        = f.label :country
        = f.text_field :country, class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
      .accept
        By pressing 'Start' i agree to the
        =ext_link "privacy policy" , page_path(:privacy)
        and accept the processing of my personal data accordingly
        = f.submit 'Start', :class => 'btn btn-success'
