- title! "Questions and answers"
- description! "Questions and answers, FAQ"
.section.faq
  .container

    .spacer-big

    %ul.nav.nav-tabs{:role => "tablist"}
      -faq_sections.each do |section|
        %li.nav-item
          %a.nav-link{"data-toggle" => "tab", :href => "#t#{section}", :role => "tab", :class => ("active" if "course" == section)}=section.capitalize

    .tab-content
      -faq_sections.each do |section|
        .tab-pane{:role => "tabpanel" , id: "t#{section}" , :class => ("active" if "course" == section)}
          -t(section).keys.each do |qa|
            #faq_toggle.toggle.toggle-transparent.toggle-bordered-simple
              %label
                = t("#{section}.#{qa}.q")
              .toggle-content
                %p.clearfix= raw t("#{section}.#{qa}.a")
