- title!( "Web Development Bootcamp")
- description!("Web dev camp is a web development bootcamp. Students learn web programming in an 9 week course, and live in the school. Board included.")

.section.parallax{:style => "background-image: url('#{image_url("coding.jpg")}');"}
  %h1
    Become a professional web-developer in 9 weeks
  %h3
    enjoy coding and get paid
  .action
    =link_to "Apply now", new_user_registration_path , class: "btn btn-success btn-lg"

.section
  .container
    .row
      .col-md-12.col-lg-6
        .testimonial
          .figure.col-md-4.col-lg-4.col-sm-8.offset-sm-2.offset-md-0
            =image_tag "people/alice.jpg" , class: :rounded
          .testimonial-content.nopadding.col-md-8.col-lg-8.col-sm-12
            %p
              When I started to teach myself code, the journey to becoming a junior developer
              seemed impossibly long and hard. Graduating from Web Dev Camp, I feel as though
              I have the tools and understanding I need to go on to achieve this goal
              and I am amazed at how far I have come.
            %cite
              Alice Dee
              %span former Engineer
      .col-md-12.col-lg-6
        .testimonial
          .figure.col-md-4.col-lg-4.col-sm-8.offset-sm-2.offset-md-0
            =image_tag "people/patricia.jpg" , class: :rounded
          .testimonial-content.nopadding.col-md-8.col-lg-8.col-sm-12
            %p
              WebDev Camp is obviously very different from university teaching methods.
              Firstly, we worked straight away on a 'real' solution. There was no 'faffing about'.
              Secondly, the feedback loop is much quicker as Torsten is always present to
              answer question when we are too stuck.
            %cite
              Patricia Buchner Santos
              %span Computer Science graduate

.section.heading{:style => "background-image: url('#{image_url("small_group.jpg")}');"}
  %h1
    Small groups, relaxed atmosphere
  %h3
    optimal learning conditions
  .action
    =link_to "Course details", page_path(:course) , class: "btn btn-success btn-lg"

.section
  .container.margin-bottom-80
    .row
      .col-md-12.col-lg-6
        .testimonial
          .figure.col-md-4.col-lg-4.col-sm-8.offset-sm-2.offset-md-0
            =image_tag "people/zita.jpg" , class: :rounded
          .testimonial-content.nopadding.col-md-8.col-lg-8.col-sm-12
            %p
              The whole experience of Webdev.camp has been an intensive and empowering
              learning journey for me, and not just with regard to my new skills.
              Yes, I now think of myself as a developer,  and the dream is a reality
              because I now know I CAN code.
            %cite
              Zita Székely
              %span former Tester
      .col-md-12.col-lg-6
        .testimonial
          .figure.col-md-4.col-lg-4.col-sm-8.offset-sm-2.offset-md-0
            =image_tag "people/ioana.jpg" , class: :rounded
          .testimonial-content.nopadding.col-md-8.col-lg-8.col-sm-12
            %p
              Before I started the Web Dev Camp course, a junior developer title seemed
              like something unapproachable. Now, after graduation I know that I am one already!
            %cite
              Ioana Rosu
              %span former Legal adviser

.section.parallax{:style => "background-image: url('#{image_url("relax.jpg")}');"}
  %h1
    %span.inv
      Relax in the nature
  %h3
    and be recharged
  .action
    =link_to "Camp details", page_path(:camp) , class: "btn btn-success btn-lg"

.section
  .container
    .row
      .col-md-12.centered
        %p
          Web Dev Camp's teacher's have
          %b decades of experience
          and started the camp
          in an endeavor to increase
          %b
            diversity in tech.
    .row.clearfix.bordered-grid
      .col-md-4.bordered-item
        .row
          .col-xs-4
            = image_tag "people/torsten.png"
          .col-xs-8
            %h3 Torsten Ruger
            %span Course Director
            %br
            %small 20 years of web development
      .col-md-4.bordered-item
        .row
          .col-xs-4
            =image_tag "people/sherif.png"
          .col-xs-8
            %h3 Sherif Abushadi
            %span Teacher
            %br
            %small 20 years of teaching
      .col-md-4.bordered-item
        .row
          .col-xs-4
            =image_tag "people/raisa.jpg"
          .col-xs-8
            %h3 Raisa Kaipainen
            %span Camp director
            %br
            %small 20 years of running courses


.section.heading{:style => "background-image: url('#{image_url("lunch.jpg")}');"}
  %h1
    Food & Accommodation included
  %h3
    Remove all distraction
  .action
    =link_to "Apply now", new_user_registration_path , class: "btn btn-success btn-lg"

.section
  .container.space-30
    .row
      .col-md-6
        .row
          .col-md-12
            %h1.centered Not Convinced?
            %p.lead.centered.space-30
              Watch our marketing guy :-) talk about bootcamps
          .col-md-12
            .embed-container
              %iframe{:allowfullscreen => "", :frameborder => "0",  :src => "https://www.youtube.com/embed/wGFsNA5Hw2s"}
      .col-md-6
        .row.school_reviews
          .col-md-12
            %h1.centered Reviews
            %p.lead.centered.space-30
              Read what alumni say
          .col-md-6.course_report
            =link_to "https://www.coursereport.com/schools/web-dev-camp/" , class: :course_report_link ,target: :blank do
              =image_tag "logos/course_report.png"
            %p.ratings
              %span.icon-star
              %span.icon-star
              %span.icon-star
              %span.icon-star
              %span.icon-star
            %p.rating-number
              Avg Rating: 5.0
          .col-md-6.centered
            =link_to "https://www.switchup.org/bootcamps/web-dev-camp" , class: :switch_up ,target: :blank do
              =image_tag "logos/switch_up.png"
              switchup
            %p.ratings
              %span.icon-star
              %span.icon-star
              %span.icon-star
              %span.icon-star
              %span.icon-star
            %p.rating-number
              5.0 stars
          .col-md-12
            .action.centered
              =link_to "Apply now", new_user_registration_path , class: "btn btn-success btn-lg"
