- title!( "Web Development Bootcamp")
- description!("Web dev camp is a web development bootcamp. Students learn web programming in an 8 week course, and live in the school. Board included.")

.section.parallax{:style => "background-image: url('#{image_url("coding.jpg")}');"}
  %h1
    Become a web-developer in 8 weeks
  %h3
    enjoy coding and get paid
  .action
    =link_to "Apply now", new_user_registration_path , class: "btn btn-success btn-lg"

.section
  .container
    .row
      .col-md-6
        .testimonial
          .figure.col-md-5.col-lg-3
            =image_tag "ioana.jpg" , class: :rounded
          .testimonial-content.nopadding.col-md-7.col-lg-9
            %p
              Before I started the Web Dev Camp course, a junior developer title seemed
              like something unapproachable. Now, after graduation I know that I am one already!
            %cite
              Ioana Rosu
              %span former Legal adviser
      .col-md-6
        .testimonial
          .figure.col-md-5.col-lg-3
            =image_tag "alice.jpg" , class: :rounded
          .testimonial-content.nopadding.col-md-7.col-lg-9
            %p
              When I started to teach myself code, the journey to becoming a junior developer
              seemed impossibly long and hard. Graduating from Web Dev Camp, I feel as though
              I have the tools and understanding I need to go on to achieve this goal
              and I am amazed at how far I have come.
            %cite
              Alice Dee
              %span Software Engineer

.section.heading{:style => "background-image: url('#{image_url("small_group.jpg")}');"}
  %h1
    Small groups, relaxed atmosphere
  %h3
    optimal learning conditions
  .action
    =link_to "Course details", page_path(:course) , class: "btn btn-success btn-lg"

.section
  .container
    .row.clearfix.bordered-grid
      .col-md-4.bordered-item
        .row
          .col-xs-3
            =image_tag("quest/where.jpg" , class: :rounded)
          .col-xs-9
            %p
              During the course you
              %b live in
              an old village school, in the middle of beautiful Finnish
              nature, one hour from Helsinki.
      .col-md-4.bordered-item
        .row
          .col-xs-3
            =image_tag("quest/when.jpg" , class: :rounded)
          .col-xs-9
            %p
              Courses start every two months, next on
              %b 16.1.17
              and
              %b 13.2.17
              The course is 6 days a week, at least 9 hours a day.
      .col-md-4.bordered-item
        .row
          .col-xs-3
            =image_tag("quest/how.jpg" , class: :rounded)
          .col-xs-9
            %p
              We teach in
              %b small groups
              using modern techniques.
              You create
              %b real applications
              and build your portfolio.

.section.parallax{:style => "background-image: url('#{image_url("relax.jpg")}');"}
  %h1
    %span.inv
      Relax in the nature
  %h3
    and be recharged
  .action
    =link_to "Camp details", page_path(:camp) , class: "btn btn-success btn-lg"

.section
  .container
    .row
      .col-md-12.centered
        %p
          Web Dev Camp's teacher's have
          %b decades of experience
          and started the camp
          in an endeavor to increase
          %b
            diversity in tech.
    .row.clearfix.bordered-grid
      .col-md-4.bordered-item
        .row
          .col-xs-4
            = image_tag "torsten.png"
          .col-xs-8
            %h3 Torsten Ruger
            %span Course Director
            %br
            %small 20 years of web development
      .col-md-4.bordered-item
        .row
          .col-xs-4
            =image_tag "sherif.png"
          .col-xs-8
            %h3 Sherif Abushadi
            %span Teacher
            %br
            %small 20 years of teaching
      .col-md-4.bordered-item
        .row
          .col-xs-4
            =image_tag "raisa.jpg"
          .col-xs-8
            %h3 Raisa Kaipainen
            %span Camp director
            %br
            %small 20 years of running courses


.section.heading{:style => "background-image: url('#{image_url("lunch.jpg")}');"}
  %h1
    Food & Accommodation included
  %h3
    Remove all distraction
  .action
    =link_to "Apply now", new_user_registration_path , class: "btn btn-success btn-lg"

.section
  .container.space-30
    .row
      .col-md-6
        .row
          .col-md-12
            %h1.centered Not Convinced?
            %p.lead.centered.space-30
              Watch our marketing guy :-) talk about bootcamps
          .col-md-12
            .embed-container
              %iframe{:allowfullscreen => "", :frameborder => "0",  :src => "https://www.youtube.com/embed/wGFsNA5Hw2s"}
      .col-md-6
        .row.school_reviews
          .col-md-12
            %h1.centered Reviews
            %p.lead.centered.space-30
              Read what alumni say
          .col-md-6.course_report
            =link_to "https://www.coursereport.com/schools/web-dev-camp/" , class: :course_report_link ,target: :blank do
              =image_tag "course_report.png"
            %p.ratings
              %span.icon-star
              %span.icon-star
              %span.icon-star
              %span.icon-star
              %span.icon-star
            %p.rating-number
              Avg Rating: 5.0
          .col-md-6.centered
            =link_to "https://www.switchup.org/bootcamps/web-dev-camp" , class: :switch_up ,target: :blank do
              =image_tag "switch_up.png"
              switchup
            %p.ratings
              %span.icon-star
              %span.icon-star
              %span.icon-star
              %span.icon-star
              %span.icon-star
            %p.rating-number
              5.0 stars
          .col-md-12
            .action.centered
              =link_to "Apply now", new_user_registration_path , class: "btn btn-success btn-lg"
