- title! "Teachers"
= render 'layouts/submenu'

%section.padding-xxs
  .container
    %p.lead
      Web Dev Camp is built and run by a team of experienced professionals
    %p
      Active professionals also participate in the teaching on a part time basis
    .row.box-icon-large.text-center
      .col-md-4.col-sm-6.flip-container.margin-bottom-20{:ontouchstart => "this.classList.toggle('hover');"}
        .flipper
          .frontt.box-default
            .box-icon-title
              = image_tag "torsten.png"
              %h2 Torsten Ruger
              %small Director / Teacher
          .backk.box-default
            %h4.nomargin Torsten Ruger
            %small Director / Teacher
            %hr/
            %p
              Torsten has worked for 25 years as a professional web programmer before starting
              Web Dev Camp in an endeavor to share his experience.
              %br
              Torsten has programmed in many different languages, used many different standards,
              led teams, architected systems but always found that learning and working with
              people was what he enjoyed most about his profession.
            %hr/
            = social_link( "https://github.com/dancinglightning" , "github" ) do
              %i.fa.icon-github
              %i.fa.icon-github
            = social_link( "https://github.com/rubyclerks" , "github" ) do
              %img{ src: "https://avatars0.githubusercontent.com/u/6094466?v=3&s=200"}
            = social_link( "https://github.com/salama" , "github" ) do
              %img{ src: "https://avatars1.githubusercontent.com/u/7279238?v=3&s=200"}
      .col-md-4.col-sm-6.flip-container.margin-bottom-20{:ontouchstart => "this.classList.toggle('hover');"}
        .flipper
          .frontt.box-default
            .box-icon-title
              =image_tag "sherif.png"
              %h2 Sherif Abushadi
              %small Director / Teacher
          .backk.box-default
            %h4.nomargin Sherif Abushadi
            %small Director / Teacher
            %hr/
            %p
              Sherif has been teaching developers since 2001, the last 4 of which at dev bootcamp
              in San Francisco.
              %br
              He brought his experience to bear in building the school, it's course and curriculum.
              %br
              He also teaches part time at Web Dev Camp
            %hr/
            = social_link( "https://twitter.com/amgando" , "twitter" ) do
              %i.fa.icon-twitter
              %i.fa.icon-twitter
            = social_link( "https://github.com/amgando" , "github" ) do
              %i.fa.icon-github
              %i.fa.icon-github
            = social_link( "https://www.linkedin.com/in/sherifabushadi" , "linkedin" ) do
              %i.fa.icon-linkedin
              %i.fa.icon-linkedin
      .col-md-4.col-sm-6.flip-container{:ontouchstart => "this.classList.toggle('hover');"}
        .flipper
          .frontt.box-default
            .box-icon-title
              =image_tag "raisa.jpg"
              %h2 Raisa Kaipainen
              %small Camp director
          .backk.box-default
            %h4.nomargin Raisa Kaipainen
            %small Camp Director
            %hr/
            %p
              Raisa has been running workshops and courses for 25 years and organizes the running
              of the camp.
              %br
              Raisa has excellent people skills and is always a good person to talk or ask advice.

            %hr/
            = social_link( "https://www.facebook.com/RaisaAndTorsten" , "facebook" ) do
              %i.fa.icon-facebook
              %i.fa.icon-facebook
            = social_link( "https://soundcloud.com/raisa-andtorsten-kaipainen" , "soundcloud" ) do
              %i.fa.icon-soundcloud
              %i.fa.icon-soundcloud

%section.padding-xxs
  .container
    %h4 Sponsors
    Professionals from the following companies come to teach at Web Dev Camp for 1 to 4 weeks.
    .text-center
      .swiper-container
        .swiper-wrapper
          - ["1","2","3","4","5","6","7","8"].each do |brand|
            .swiper-slide
              = delayed_image "brands/#{brand}.jpg"
        %br
        .swiper-pagination
        .swiper-button-next
        .swiper-button-prev
      :javascript
        var swiper_options = {
          slidesPerView: 5
        }
