.row.applies_index_start
  .col-md-9.applies
    .row
      .col-md-10
        %h2= @apply_scope.length.to_s + " Applications"
        =paginate @applies
  .col-md-3
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=sort_link [:admin,@q], :user_id , title: "Applicant"
            %th Resume %
            %th Course
            %th Secondary
            %th Plan
            %th Comment
            %th Discount
        %tbody
          - @applies.each do |apply|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= link_to apply.user.name , admin_user_path(apply.user)
              %td= link_to( "#{apply.user.resume.percent} %" , admin_resume_path(apply.user.resume))
              %td= course_applicants_link apply.primary_choice_course
              %td= course_applicants_link apply.secondary_choice_course
              %td= apply.plan
              %td= apply.comment.to_s
              %td= apply.discount_code.to_s

    =paginate @applies
  .col-md-3
    = search_form_for [:admin , @q], :html => { :class => "form-horizontal" }, :method => :get do |f|
      .form-group
        = f.text_field :primary_choice_course_id_eq , :class => "form-control" , :placeholder =>  "course id"
      = f.submit "Filter",  :id => :filter , :class => "btn btn-success"
      = link_to  "Cancel", admin_applies_path, :class => "btn btn-warning"
.applies_index_end
