.row.applies_index_start
  .col-md-9.applies
    .row
      .col-md-10
        %h2 Applies
        = paginate @applies
  .col-md-3
    = #image_tag "applies.jpg" , :class => "img-responsive"
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=sort_link [:office,@q], :id
            %th{:colspan => "2"}
              %label.checkbox
                = @apply_scope.length.to_s + " Applies"
        %tbody
          - @applies.each do |apply|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td=apply.id.to_s
              %td= link_to "Show" , admin_apply_path(apply), :title => t(:show)
    = paginate @applies
  .col-md-3
    = search_form_for [:admin , @q], :html => { :class => "form-horizontal" }, :method => :get do |f|
      .form-group
        = f.text_field :id_cont , :class => "form-control" , :placeholder =>  "ID"
      = f.submit "Filter",  :id => :filter , :class => "btn btn-success"
      = link_to  "Cancel", admin_applies_path, :class => "btn btn-warning"
.applies_index_end
