.row.resumes_index_start
  .col-md-9.resumes
    .row
      .col-md-10
        %h2= @resume_scope.length.to_s + " Resumes"
        =will_paginate @resumes
  .col-md-3
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=sort_link [:admin,@q], :user_name
            %th Percent
            %th=sort_link [:admin,@q], :updated_at
        %tbody
          - @resumes.each do |resume|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= link_to resume.user.name , admin_user_path(resume.user)
              %td= link_to "#{resume.percent} %"  , admin_resume_path(resume), :title => "Show"
              %td= resume.updated_at.to_date
    =will_paginate @resumes
  .col-md-3
    = search_form_for [:admin , @q], :html => { :class => "form-horizontal" }, :method => :get do |f|
      .form-group
        = f.text_field :user_name_cont , :class => "form-control" , :placeholder =>  "User"
      = f.submit "Filter",  :id => :filter , :class => "btn btn-success"
      = link_to  "Cancel", admin_resumes_path, :class => "btn btn-warning"
.resumes_index_end
