%h2.resumes_show_start
  = "Resume : #{@resume.id}"

- @resume.attributes.each do |name , value|
  %p
    %b= "#{name} : " + value.to_s

= link_to "Back", admin_resumes_path, :class => "btn btn-warning"
.resumes_show_end
