%h2
  = "Resume : "
  = link_to @resume.user.name , admin_user_path(@resume.user)
  = "#{@resume.percent} %"

%h4
  -if app = @resume.user.application
    = link_to "Applied" , admin_applies_path(app)
    for
    = link_to app.primary_choice_course.name , admin_course_path(app.primary_choice_course)
    on
    = app.created_at.to_date
  -else
    Not applied

- @resume.percent_attributes.each do |name |
  %p
    %b= "#{name} : "
    = @resume.send(name).to_s

= link_to "Back", admin_resumes_path, :class => "btn btn-warning"
