%p
  2017: The year you decided to spring into action and finally make that leap of
  courage into the alluring and seemingly magical world of coding.
%p
  Even though you may feel like you’re getting a bit of a late start out of the gate,
  the tech revolution is only gaining
  = ext_link "momentum. " , "http://www.techrepublic.com/article/tech-industry-employment-soars-past-6-7-million-led-by-it-services/"
  Thanks largely to our ever-evolving Digital Age, programming remains one of the most
  = ext_link "well-paid" , "https://heatst.com/biz/half-of-the-highest-paying-jobs-in-america-now-require-you-to-know-how-to-code/"
  and in-demand trades, and there’s still plenty of room for aspiring hackers to saddle
  up and join the race.
%p
  So whether your New Year’s resolution is to kickstart a new career as a full-time
  junior programmer at a growing startup or learn a new skill to help you move up the
  ranks at your current company, here’s to a new, code-conquering you!
%p
  But before you can dive headlong into building websites, SaaS products, or
  publishing apps on Google Play, you first need to gain a firm understanding of
  the fundamentals.
%p
  When you have little to no coding experience under your belt, it can seem like an
  impossibly long, uphill battle to arrive at a place where you can stand in front
  of an employer and prove you’re worth your salt.
%p
  And it’s not always clear where to
  = ext_link "begin" , "https://webdev.camp/"
  acquiring those skills once you’ve decided to take the first step.
  = blog_image "goforit.png"

%h2 The Rise Of The Coding Bootcamp

%p
  At this point, you’ve probably already dipped your toe in the water by devoting a
  good chunk of time researching and weighing your options online.
%p
  If so, chances are you discovered pretty quickly that there’s been a lot of buzz
  lately around
  = ext_link "coding bootcamps, " , "https://webdev.camp/"
  short-term retreats designed to teach coding greenhorns the ropes in an intensive,
  accelerated learning environment.
%p
  Think of the coding bootcamp as the Digital Age’s answer to the trade school.
  It’s a relatively new model aimed at getting coders job-ready in an increasingly
  skills-based economy. And they’ve
  =ext_link "exploded" , "http://www.techrepublic.com/article/coding-school-graduates-are-they-worth-hiring"
   in popularity since first rising to prominence in 2012.
%p
  = blog_image "group.jpg"
%p
  The number of bootcamp graduates in 2017 is
  =ext_link "expected" , "https://www.switchup.org/research/are-coding-bootcamps-worth-it-job-placement-market"
  to quadruple 2014’s figures -- with an estimated 24,000 graduates this year compared to
  approximately 6,200 grads just three years ago.
%p
  Or, if you , maybe you’ve had some trouble landing the exact position you’d hoped for,
  and you’re looking for a solid way to round out your portfolio.
%p
  Whatever your circumstance, many regard bootcamps as an appealing alternative or a
  complement to traditional higher education for several reasons:  

%h3
  = image_tag "blog/effectiveness.png"
%p
  A 2016 Course
  =ext_link "study" , "https://www.coursereport.com/reports/2016-coding-bootcamp-job-placement-demographics-report"
  found in surveying 52 qualifying coding bootcamps that 73% of the 1,143 respondents
  reported being employed in a full-time job requiring the skills learned at bootcamp.
%p
  Not only are the majority of bootcamp graduates polled getting jobs,
  = ext_link "but they’re also earning more." , "https://www.switchup.org/research/are-coding-bootcamps-worth-it-job-placement-market"
%p
  In surveying over 1,000 bootcamp graduates, Switchup found that 63% of respondents reported
  an increase in salary post-graduation.
%p
  = blog_image "salery.png"
%h3
  =image_tag "blog/cost.png"
%p
  Compared to an
  =ext_link "average" , "http://www.collegecalc.org/majors/computer-science"
  of $157,760 for a 4-year Computer Science degree, the average cost of coding
  bootcamp hovers around $12,800 -- with even more
  =ext_link "affordable" ,"https://webdev.camp/"
  options available.
%h2
  = image_tag "blog/time.png"
%p
  While each bootcamp varies, Switchup reports the average duration is around 10.8 weeks.
  Sure, you’re putting in a lot more hours of work per day, but you’re walking away
  with a valuable skillset in a significantly shorter amount of time compared to the
  4 years you would spend obtaining a CS degree.
%h3
  =image_tag "blog/curriculum.png"
%p
  Many colleges only offer a handful of classes where you’re doing any actual programming.
  A lot of time is spent on extraneous classes studying things like theory.
  While these general requirements are certainly valuable, you’re never taught
  how to go “full stack” and hook languages up to databases and user interfaces or
  other important responsibilities that dev teams regularly tackle in the real world.

%p
  With bootcamps, you gain a deep knowledge necessary for full-stack development including
  Ruby, JavaScript, style basics, HTML generation, CSS, Rspec framework, Performance, NoSQL,
  and more. It’s heavily project-focused, so you get to put your learnings to practice
  immediately.
%p
  You also get more directed help with how to write resumes, how to find the right
  companies, and the best ways to approach them.
%h3
  =image_tag "blog/environment.png"
%p
  Bootcamps offer a much more intimate, albeit intensely-paced, learning environment
  than your standard college lecture, with more opportunity for one-on-one interaction
  between instructors and fellow students.
%p
  Students work in small groups and build real applications that they can add to their
  portfolio, and classes typically consist of fewer than 10 students working alongside
  a single mentor.  

%h2 Grow Intellectually  And Culturally

%p
  If you decide that bootcamp is the right option for you, you’ll have an important
  choice to make.  
%p
  You can either remain in your current city -- provided there’s a bootcamp program
  offered in your area -- or you can pack up your suitcase, hit the road,
  and move to a new one temporarily.
%p
  Although you might be apprehensive about the prospect of uprooting and temporarily
  leaving behind your home, friends, and family -- getting outside of your
  comfort zone (and area code) comes with some key advantages:

%h3

%p
  =blog_image "distraction_free.jpg"
%p
  One of the biggest challenges with attending a bootcamp locally is that you’re
  most likely going to be interrupted by constant distractions that will test your
  willpower and tempt you to neglect your studies.
%p
  Let’s be honest. Fear of missing out is a pretty powerful thing. When your friends
  hit you up to take some well-deserved R&amp;R and join them out on the town
  for “one quick drink,” it’s going to be hard to say no.
%p
  On the other hand, when you’re in a completely new setting, you’re much farther
  removed from those distractions than if you were close to home.

%h3 New Experiences

%p
  The great thing about attending a bootcamp in a new destination is that you get to
  feed your travel bug and grow intellectually at the same time.
%p
  Traveling to a place that you’ve never been before and fully-immersing yourself in
  that environment fulfills a sense of wanderlust and freedom while also helping you
  gain new life experiences.  
%p
  By exposing yourself to new places, people, and cultures, you get a unique world
  perspective and an open mind -- which can actually be influential in increasing
  academic performance.  
%h3 Increased Success
%p
  Research has shown that
  = ext_link "those who travel are more likely to succeed in school and in life down the road." , "https://www.wysetc.org/2013/10/24/travel-improves-educational-attainment-future-success"
%p
  WYSE Travel Confederation’s study “Travel Improves Educational Attainment &amp; Future Success”
  found that educational travel programs, including international service-learning
  trips, immediately improved academic performance.

%h3 Networking

%p
  International travel, especially when it’s with a group or through a program, provides
  students with a global
  = ext_link "network" ,"http://www.worldstridessummer.com/blog/top-10-most-important-benefits-students-gain-when-traveling/"
   of contacts and references that they’re able to leverage down the road.

%h3 All-Inclusive
%p
  If you’re concerned about the costs of moving, living arrangements, food, transportation,
  and other necessary expenses on top of bootcamp tuition,
  = link_to "there are great, affordable options available" , "/camp"
   that bake all of these expenses right into the tuition price.

%h2 Where Innovation Takes Root
%p
  When considering where to get the ideal bootcamp experience, many people immediately
  think about places like San Francisco, NYC, Seattle, London, or other sprawling
  tech hubs.
%p
  However, a number of destination spots have recently popped up abroad that cater
  to those who wish to trade the unrelenting hustle and bustle of city life for
  more serene, natural environments.
%p
  Combined with the fact that the bootcamp market is becoming increasingly saturated
  in the US, a lot of coding students are starting to opt for more rustic,
  = link_to "pastoral settings" , "/"
   abroad. Not only are they getting more picturesque scenery and fewer distractions,
  but many students find they can better de-stress and unwind in more natural
  locales in-between their rigorous studies.
%p
  =blog_image "nature.jpg"
%p
  Whether you’re getting some fresh air on a quick hike through the forest during breaks
  or if you’re feeling stuck, learning in a place where you’re surrounded by nature
  allows you to better recuperate and work more productively.
%p
  When Einstein said, “Look deep into nature, and then you will understand everything better,”
  he wasn’t just waxing philosophical -- he wasn’t actually onto something rooted in science.
%p
  Among the many mental and physical health
  =ext_link "benefits," , "http://www.businessinsider.com/scientific-benefits-of-nature-outdoors-2016-4/"
  spending time in nature is shown to restore mental energy, alleviate stress, sharpen
  thinking and creativity, and improve short-term memory, concentration, and sleep
  patterns.

%p
  In a
  = ext_link "University of Michigan study," , "http://www.spring.org.uk/2009/01/memory-improved-20-by-nature-walk.php"
  students were given memory tests and then divided into two groups.
  One group walked around an arboretum, the other walked down a city street.
  When the groups retook the test, those who walked around the city did not
  consistently improve, and the group that walked among trees performed almost 20% better
  than the first time!

%h3 Code On!
%p
  Deciding that you wanted to become a professional coder was the easy part.
%p
  Now begins the hard work. But you’re okay with that -- because coders are problem
  solvers at heart!
%p
  As you prepare to launch into this exciting, somewhat scary, but undeniably rewarding
  endeavor, keep in mind that -- like anything else -- becoming an expert coder takes
  discipline, commitment, passion, and a relentless drive to keep learning and keep growing.
%p
  Throughout this article, we’ve explored several ways that aspiring coders can maximize
  their learning opportunities and potential for success with bootcamps.
%p
  Ultimately, it’s up to you to decide what you feel will work best for you
  as you set out on your journey to becoming a professional programmer.
%p
  Just remember that it’s never too late
  =link_to "to start." , "/apply"
