%p
  One of the most common questions about learning to code is whether one should learn programming by
  him/herself at home or going to a bootcamp. We have seen different responses so far as everyone has a
  different view to it. However, no matter what’s everyone else is about, it’s totally up
  to you to choose what/how you want to learn, because you are the one who knows better than anyone else what make your
  learning better. In this article, we hope to give you some guideline to make the right decision.

%h2 1. Coding bootcamp vs self study
%p
  = blog_image "quote.jpg"
%p
  The advantages of self-study is that you are given the power to control your learning experience
  including how and what to learn. However, in order to get that job you always want, it takes much more than
  just knowing how to code.
  %li
    Most bootcamp’s curriculum is custom built for their students to learn everything in a short
    period of time. At a bootcamp, you will have the precise knowledge needed to become a junior developer
    delivered to you, instead of having to browse the web for several hours by yourself.
  %li
    At coding bootcamp, you have the access to industry expert. Their role is not only to help you with
    your own learning, but also to give you the support at reviewing your code, polishing your Github,
    giving job recommendation, and helping you with your portfolio. Those are things that you cannot get
    when you’re all by yourself.
  %li
    You need to learn teamwork, because that’s how it is in a professional working environment. Even the
    smallest web development team would have more than 5 people working together in a project. And teamwork
    can never be tested alone.

%h2 2. How prepared are you to the challenge?

%p
  Most people find themselves having a hard time at coding bootcamp, it’s often because the bootcamp itself
  is already a big challenge. And that is totally understandable, considering how much you have to learn and
  how little time you have there. Most bootcamps would have a strict schedule of 7 or 8 working hours per day,
  for 5 or 6 days per week and a lot of self study in between. That’s why at WebDev.Camp, we always ask the
  candidates to have at least some small experience learning to code by themselves with any online resources
  they can find.
  =link_to "Khanacademy" , "https://www.khanacademy.org/" , target: :blank
  ,
  = link_to "Freecodecamp" , "https://www.freecodecamp.org/" , target: :blank
  ,
  = link_to "edX" , "https://www.edx.org/" , target: :blank
  ,etc are the some good free resources you can consider.
%p
  Learning by yourself is a way of preparing your tolerance to coding bootcamp, it is also a major part of
  your coding job in the future.

%h2
  3. Consider your financial situation
%p
  = blog_image "piggy_bank.jpg"
%p
  This is so far the most important question that you need to ask yourself. The normal price of a coding
  bootcamp varies from $8000 t0 $20 000, the more popular the bootcamp is, the more expensive it could get.
  However, going to bootcamp doesn’t cost only the tuition fee that you have to pay, there are other smaller
  things that could cost you a lot more than just the bootcamp itself, like housing, transportation and food, etc.
%p
  Self-study, which is often claimed to be free, often takes longer time to reach the end goal of reaching
  professional level. Bootcampers have learning materials and supports delivered to them almost in an instant.
  Self-learners often have to spend big part of their time browsing the internet to find the right sources of
  information and when they’re still browsing, others might have already gotten a new job. Just because you are
  paying nothing for self-study, doesn't mean that it is totally free. There is a huge opportunity
  cost that you are paying for.
%p
  If you have made up your mind to join a coding bootcamp, having a decent amount of saving before going to
  bootcamp is highly recommended. Or if you haven’t well-saved for yourself yet, ask for some loans from your
  family and friends, they might be glad to help if they know that you are investing in your future.

%h2
  4. Choosing between different coding bootcamps
%p
  There is no absolute winner for the best coding bootcamp. The best one for you is the one that fits your personal criteria.
%p
  First of all, the
  =link_to "bootcamp curriculum" , "https://webdev.camp/course"
  need to align with your level. To attend a full-time immersive bootcamp, you better learn yourself some code first,
  not only because it is the minimum demand that they have, it also helps to learn better and faster in such an environment.
%p
  As mentioned previously, attending a bootcamp doesn’t cost you only the tuition fee, other additional costs like
  housing and food could end up make a bigger part of your spending. When choosing a coding bootcamp, it’s better
  to take consideration of all those fees together or you can just simply find one that offers
  = link_to "accommodation and food." , "https://webdev.camp/camp"
%p
  = image_tag "slider/lunch.jpg"
%p
  Depends on your personality and conditions, you might also want to choose going for a bootcamp in abroad. Coding
  bootcamps in Europe are often more affordable compared to many in the U.S. Living abroad for a while can also boost
  up your energy and enrich your personal culture.
%p
  If you want to learn more details about different options for bootcamp, there is a great
  =link_to "article" , "https://www.coursereport.com/coding-bootcamp-ultimate-guide"
  written by Course Report that you might want to have a look at.

%h2 Conclusion
%p
  Your learning doesn’t just stop once you finish a bootcamp or find a job, self study is important as a part of
  your daily life but if there is a way to learn more effectively, coding bootcamp is one of your choices.
  Check out this
  =link_to "article" , "https://webdev.camp/blog/the-distraction-free-path-to-becoming-a-professional-programmer"
  if you want to gain more insights about the coding bootcamp bloom in recent years.
