.row.users_index_start
  .col-md-9.users
    .row
      .col-md-10
        %h2 Users
        =will_paginate @users
  .col-md-3
    = #image_tag "users.jpg" , :class => "img-responsive"
.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=sort_link [:office,@q], :email
            %th Street
            %th City
            %th Country
            %th{:colspan => "2"}
              %label.checkbox
                = @user_scope.length.to_s + " Users"
        %tbody
          - @users.each do |user|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td=user.email
              %td=user.street
              %td=user.city
              %td=user.country
              %td= link_to "Show" , admin_user_path(user), :title => "Show"
    =will_paginate @users
  .col-md-3
    = search_form_for [:admin , @q], :html => { :class => "form-horizontal" }, :method => :get do |f|
      .form-group
        = f.text_field :email_cont , :class => "form-control" , :placeholder =>  "Email"
      .form-group
        = f.text_field :street_cont ,:class => "form-control" , :placeholder =>  "Street"
      = f.submit "Filter",  :id => :filter , :class => "btn btn-success"
      = link_to  "Cancel", admin_users_path, :class => "btn btn-warning"
.users_index_end
