.row
  .col-md-2
  .col-md-8
    #progress
    %br
.row
  .col-md-1
  .col-md-1
    %p
      %b School:
  .col-md-8
    = resume_in_place  :school
.row
  .col-md-1
  .col-md-1
    %p
      %b Uni:
  .col-md-8
    = resume_in_place  :uni
.row
  .col-md-1
  .col-md-1
    %p
      %b Internship:
  .col-md-8
    = resume_in_place  :internship
.row
  .col-md-1
  .col-md-1
    %p
      %b Work:
  .col-md-8
    = resume_in_place  :work
.row
  .col-md-1
  .col-md-1
    %p
      %b Projects:
  .col-md-8
    = resume_in_place  :projects
.row
  .col-md-1
  .col-md-1
    %p
      %b Tech skills:
  .col-md-8
    = resume_in_place  :tech_skills
.row
  .col-md-1
  .col-md-1
    %p
      %b Soft skills:
  .col-md-8
    = resume_in_place  :soft_skills
.row
  .col-md-1
  .col-md-1
    %p
      %b Intrests:
  .col-md-8
    = resume_in_place  :interests
.row
  .col-md-1
  .col-md-1
    %p
      %b Motivation:
  .col-md-8
    = resume_in_place  :motivation
.row
  .col-md-1
  .col-md-1
    %p
      %b Finance plan:
  .col-md-8
    = resume_in_place  :finance
.row.margin-bottom-30
  .col-md-1
  .col-md-1
    %p
      %b Other:
  .col-md-8
    = resume_in_place  :other
