= render 'users/submenu'

.row
  .col-md-2
  .col-md-8
    %br

    %p
      Tell us about yourself and why you want to become a developer.
      %br
      Once you have filled
      your information you can leave an application for specific dates.
    %p#notice= notice

.row
  .col-md-1
  .col-md-1
    %p
      %b School:
  .col-md-8
    = resume_in_place  :school , "What is the highest level school you went to and what were you good at"
.row
  .col-md-1
  .col-md-1
    %p
      %b Uni:
  .col-md-8
    = resume_in_place  :uni , "Did you go to university or similar, what degree, did you finish"
.row
  .col-md-1
  .col-md-1
    %p
      %b Internship:
  .col-md-8
    = resume_in_place  :internship , "Tell us about any relevant internships you have done, and what they were about"
.row
  .col-md-1
  .col-md-1
    %p
      %b Work:
  .col-md-8
    = resume_in_place  :work , "Do you have work experience, in what field, what were your responsibilities."
.row
  .col-md-1
  .col-md-1
    %p
      %b Projects:
  .col-md-8
    = resume_in_place  :projects , "Did you do any technical project, alone or in a group"
.row
  .col-md-1
  .col-md-1
    %p
      %b Tech skills:
  .col-md-8
    = resume_in_place  :tech_skills , "What technical skills have you already acquired"
.row
  .col-md-1
  .col-md-1
    %p
      %b Soft skills:
  .col-md-8
    = resume_in_place  :soft_skills , "What non technical skills would you say you are good at"
.row
  .col-md-1
  .col-md-1
    %p
      %b Intrests:
  .col-md-8
    = resume_in_place  :interests , "Tell us a bit about your general interest"
.row
  .col-md-1
  .col-md-1
    %p
      %b Motivation:
  .col-md-8
    = resume_in_place  :motivation , "And what motivates you to apply for this course"
.row
  .col-md-1
  .col-md-1
    %p
      %b Finance plan:
  .col-md-8
    = resume_in_place  :finance , "What is your source of finance"
.row
  .col-md-1
  .col-md-1
    %p
      %b Other:
  .col-md-8
    = resume_in_place  :other , "Anything else you would like to mention"
.row
  .col-md-1
  .col-md-1
    %p
      %b Address:
  .col-md-8
    = resume_in_place  :street , "Street"
.row
  .col-md-1
  .col-md-1
    %p
      %b City:
  .col-md-8
    = resume_in_place  :city , "City"
.row
  .col-md-1
  .col-md-1
    %p
      %b Country:
  .col-md-8
    = resume_in_place  :country , "Country"
