%h2.courses_edit_start
  = params["action"].upcase
  Course
= simple_form_for([:admin , @course]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :extra
    = f.input :start

  .form-actions
    = f.button :submit
    = link_to "Back", admin_courses_path, :class => "btn btn-warning"
