%body
  - content_for(:title) { "#{t("administrate.actions.edit")} #{page.page_title}" }
  %header.main-content__header{:role => "banner"}
    %h1.main-content__page-title
      = content_for(:title)
    %div
      = link_to(                                                  |
          "#{t("administrate.actions.show")} #{page.page_title}", |
          [namespace, page.resource],                             |
          class: "button",                                        |
        ) if valid_action? :show                                  |
  %section.main-content__body
    = render "form", page: page
