.row.courses_index_start
  .col-md-9.courses
    .row
      .col-md-8
        %h2 Courses
        =paginate @courses
      .col-md-2
        = link_to  "New course" , new_admin_course_path , :class => "btn btn-primary"
      .col-md-2
  .col-md-3

.row
  .col-md-9
    %div
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th=sort_link [:admin,@q],  :name
            %th Applications
            %th Extra
            %th Start
            %th{:colspan => "2"}
              %label.checkbox
                = @course_scope.length.to_s + " Courses"
        %tbody
          - @courses.each do |course|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td.name=course.name
              %td=link_to course.applications.count.to_s , admin_course_applicants_path(course)
              %td=course.extra
              %td=course.start
              %td= link_to "Show" , admin_course_path(course), :title => "Show"
              %td= link_to "Edit" , edit_admin_course_path(course), :title => "Edit"
    =paginate @courses
  .col-md-3
    = search_form_for [:admin,@q], :html => { :class => "form-horizontal" }, :method => :get do |f|
      .form-group
        = f.text_field :name_cont , :class => "form-control", :placeholder =>  "Name"
      = f.submit "Filter", :id => :filter , :class => "btn btn-success"
      = link_to  "Cancel", admin_courses_path, :class => "btn btn-warning"
.courses_index_end
