%h2
  Course :
  = @course.name

%h4
  =link_to "#{@course.applications.count} Applicants" , admin_course_applicants_path(@course)


.col-md-12
  %p
    %b
      = "Name: " +  @course.name.to_s
  %p
    %b
      = "Extra : " +  @course.extra.to_s
  %p
    %b
      = "Start : " + @course.start.to_s

= link_to "Edit", edit_admin_course_path(@course), :class => "btn btn-success"
= link_to "Back", admin_courses_path, :class => "btn btn-warning"
