/ FOOTER
%footer#footer
  .container
    .row
      .col-md-3
        / Footer Logo
        = image_tag "web_logo_white.png" , :class => "footer-logo"
        / Small Description
        %p Finding your talent.
        %address
          %ul.list-unstyled
            %li.footer-sprite.address
              Fiskarsintie 513
              %br/
              10480 Antskog
              %br/
              Finnland
              %br/
            %li.footer-sprite.phone
              Phone: +358-40 7308052
            %li.footer-sprite.email
              %a{:href => "mailto:info@web-dev.camp"} info@web-dev.camp
      .col-md-3
        %h4.letter-spacing-1 LATEST UPDATES
        %ul.footer-posts.list-unstyled
          %li
            %a{:href => "/answers"} More answers to questions
            %small 25 March 2016
          %li
            %a{:href => "/apply"} Updated apply page
            %small 24 March 2016
          %li
            %a{:href => "/dev"} Updated dev and camp
            %small 24 March 2016
      .col-md-2
        %h4.letter-spacing-1 EXPLORE Web Dev Camp
        %ul.footer-links.list-unstyled
          %li= link_to "Course overview" , page_path(:web)
          %li= link_to "Camp" , page_path(:camp)
          %li= link_to "Teachers" , page_path(:teachers)
          %li= link_to "Payment Policy" , page_path(:payment)
          %li= link_to "Teaching oppertunities" , page_path(:teaching)
      .col-md-4
        =render "pages/apply_form"
        / Social Icons
        .margin-top-20
          %a.social-icon.social-icon-border.social-facebook.pull-left{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Facebook"}
            %i.icon-facebook
            %i.icon-facebook
          %a.social-icon.social-icon-border.social-twitter.pull-left{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Twitter"}
            %i.icon-twitter
            %i.icon-twitter
          %a.social-icon.social-icon-border.social-gplus.pull-left{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Google plus"}
            %i.icon-gplus
            %i.icon-gplus
          %a.social-icon.social-icon-border.social-linkedin.pull-left{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Linkedin"}
            %i.icon-linkedin
            %i.icon-linkedin
          %a.social-icon.social-icon-border.social-rss.pull-left{"data-placement" => "top", "data-toggle" => "tooltip", :href => "#", :title => "Rss"}
            %i.icon-rss
            %i.icon-rss
        / /Social Icons
  .copyright
    .container
      %ul.pull-right.nomargin.list-inline.mobile-block
        %li
          =link_to "Terms & Conditions" , page_path(:terms)
        %li •
        %li
          =link_to "Privacy" , page_path(:privacy)
      © All Rights Reserved, Web Dev Camp, a subsidary of Lightning Raisa & Torsten Oy
/ /FOOTER
