/ FOOTER
%footer#footer
  .container
    .row
      .col-md-3
        / Footer Logo
        = image_tag "web_logo_white.png" , :class => "footer-logo"
        / Small Description
        %p Finding your talent.
        %address
          %table
            %tr
              %td
                %i.fa.icon-location
                %br
                %br
                %br
              %td
                Fiskarsintie 513
                %br/
                10480 Antskog
                %br/
                Finnland
            %tr
              %td
                %i.fa.icon-phone
              %td Phone: +358-40 7308052
            %tr
              %td
                %i.fa.icon-mail
              %td
                %a{:href => "mailto:info@web-dev.camp"} info@web-dev.camp
      .col-md-3
        %h4.letter-spacing-1 LATEST UPDATES
        %ul.footer-posts.list-unstyled
          %li
            %a{:href => "/"} Finished slider, beta release
            %small 15 April 2016
          %li
            %a{:href => "/answers"} More answers to questions
            %small 25 March 2016
          %li
            %a{:href => "/apply"} Updated apply page
            %small 24 March 2016
      .col-md-2
        %h4.letter-spacing-1 EXPLORE Web Dev Camp
        %ul.footer-links.list-unstyled
          %li= link_to "Sign in" , user_session_path
          %li= link_to "Camp" , page_path(:camp)
          %li= link_to "Teachers" , page_path(:teachers)
          %li= link_to "Payment Policy" , page_path(:payment)
          %li= link_to "Teaching oppertunities" , page_path(:teaching)
      .col-md-4
        =render "pages/apply_form"
        .margin-top-20
          %a.social-icon.social-icon-border.social-facebook.pull-left{"data-placement" => "top",  :href => "#", :title => "Facebook"}
            %i.icon-facebook
            %i.icon-facebook
  .copyright
    .container
      %ul.pull-right.nomargin.list-inline.mobile-block
        %li
          =link_to "Terms & Conditions" , page_path(:terms)
        %li •
        %li
          =link_to "Privacy" , page_path(:privacy)
      © All Rights Reserved, Web Dev Camp, a subsidary of Lightning Raisa & Torsten Oy
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76401513-1', 'auto');
  ga('send', 'pageview');
