.dark_footer
  .footer_container
    .address_col
      = image_tag "logos/web_logo_mobile.png" , :class => "footer-logo"
      %p.slogan Live in bootcamp, learn the code
      %address
        %table
          %tbody
            %tr
              %td
                %i.fa.icon-location
                %br/
                %br/
                %br/
              %td
                Isokiskontie 6
                %br/
                10470 Fiskars
                %br/
                Finland
            %tr
              %td
                %i.fa.icon-phone
              %td Phone: +358-40 7308052
            %tr
              %td
                %i.fa.icon-mail
              %td
                %a{:href => "mailto:info@webdev.camp"} info@webdev.camp
    .links_l
      %h6.letter-spacing-1 RESOURCES
      %ul.footer-links.list-unstyled
        %li.icon-angle-right= link_to "Teachers" , page_path(:course , anchor: :teachers)
        %li.icon-angle-right= link_to "Payment Plans" , page_path(:payment)
        %li.icon-angle-right= link_to "Application Process", page_path(:apply)
        %li.icon-angle-right= link_to "Prepare yourself", page_path(:prepare)
        %li.icon-angle-right= ext_link "Beginners guide", "https://medium.com/webdev-camp/tagged/basics"
      %h6.letter-spacing-1 JOBS
      %ul.footer-links.list-unstyled
        %li.icon-angle-right= link_to "Teaching" , page_path(:teaching)
        //%li.icon-angle-right= link_to "Marketing" , page_path(:marketingjob)

    .links_r
      %h6.letter-spacing-1= link_to "BLOG" , blog_index_url
      - Page.pages.values[0 .. 2].each do |page|
        %ul.footer-links.list-unstyled
          %li.icon-angle-right= link_to page.title , blog_page_url(page.slug)
      %h6.letter-spacing-1 OPPORTUNITIES
      %ul.footer-links.list-unstyled
        %li.icon-angle-right= link_to "For Companies" , page_path(:for_companies)
        %li.icon-angle-right= link_to "Sponsor diversity" , page_path(:sponsor_diversity)
        %li.icon-angle-right= link_to "Diversity scholarships" , page_path(:diversity_scholarships)

    .footer-sign
      %h5.letter-spacing-1 Account
      %ul.footer-links.list-unstyled
        -if user_signed_in?
          %li= sign_out_link
          %li= link_to "Your Account" ,  edit_user_registration_path
          %li= link_to "Resume" ,   resume_path
        -else
          %li
            = simple_form_for(:user, :url => session_url(:user), :html => { :role => 'form' , class: "form-horizontal"}) do |f|
              .input-group
                %span.input-group-addon
                  %i.fa.icon-mail
                = f.email_field :email, class: 'form-control' , placeholder: :email
              .input-group
                %span.input-group-addon
                  %i.fa.icon-lock
                = f.password_field :password, class: 'form-control' , placeholder: :password
              .input-group-btn
                = f.submit "Sign in" , class: "btn btn-success btn-block"


      .margin-top-20
        =social_link("https://www.facebook.com/webdev.camp", "facebook") do
          %i.icon-facebook
        =social_link("https://twitter.com/webdev_camp", "twitter") do
          %i.icon-twitter
        =social_link("https://www.instagram.com/webdev.camp", "instagram") do
          %i.icon-instagram
        = social_link( "https://medium.com/webdev-camp" , "medium" ) do
          =image_tag "logos/medium.png"
  .container-fluid
    .row.copyright
      .col-md-7
        © All Rights Reserved, Web Dev Camp, a subsidiary of Lightning Raisa & Torsten Oy
      .col-md-5.text-sm-right
        %ul.nomargin.list-inline.mobile-block
          %li.list-inline-item
            =link_to "Terms & Conditions" , page_path(:terms)
          %li.list-inline-item •
          %li.list-inline-item
            =link_to "Privacy" , page_path(:privacy)
          -if user_signed_in?
            %li.list-inline-item •
            %li.list-inline-item
              =link_to "House Rules" , page_path(:rules)

- if Rails.env.production?
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    var the_id = 'UA-76401513-1';
    ga('create', the_id.replace("-1" , "-3") , 'auto');
    ga('send', 'pageview');
