
%nav.navbar.navbar-fixed-top.navbar-light
  %button.navbar-toggler.hidden-md-up{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
  #navbarResponsive.collapse.navbar-toggleable-sm
    %a.navbar-brand{:href => page_path(:index) }
      = image_tag "logos/web_logo.png" , width: "250px"
      = #image_tag "logos/web_logo_mobile.png" , class: :mobile
    %ul.nav.navbar-nav.float-sm-right
      %li.nav-item= link_to "Course" , page_path(:course) , class: "nav-link"
      %li.nav-item= link_to "Camp" ,   page_path(:camp) , class: "nav-link"
      %li.nav-item= link_to "Q & A" ,  page_path(:answers) , class: "nav-link"
      -unless user_signed_in?
        %li.nav-item= link_to "Apply" ,  new_user_registration_path , class: "nav-link"
        %li.nav-item= link_to "|" ,  new_user_registration_path , class: "nav-link"
      -if user_signed_in?
        %li.nav-item= link_to "|" ,  edit_user_registration_path , class: "nav-link"
        - { "Profile" => edit_user_registration_path , "Resume" => resume_path  ,
          "Application" => application_path }.each do | menu, slug|
          %li.nav-item.nav-small{class: (request.path == slug) && "active" }
            =link_to menu , slug ,class: "nav-link"
        %li.nav-item.nav-small= sign_out_link  class: "nav-link"
      -unless user_signed_in?
        %li.nav-item.nav-small= link_to "Sign in" , new_user_session_path, class: "nav-link"
