/ SLIDE TOP
#slidetop.bg-finland
  .container
    .row
      .col-sm-4
        %h4
          %i.icon-heart
          WHY Web Dev Camp?
        %p
          More than just a place to learn a new skill, Web Dev Camp is a an
          %b
            experience.
          %br
          Going from a regular computer user to creating your own apps is awesome in itself.
          But having personal guidance, learning in motivated small groups and a living in
          the restoring wonder that is nature makes it something you're not likely to forget
          in a lifetime.
      .col-sm-4
        %h4
          %i.icon-question
          QUESTIONS ?
        We tried to describe what to expect as best we can. Still, people understand in different
        ways, so if you have any questions don't hesitate to contact us.
        %ul.list-unstyled
          %li
            %a{:href => "mailto:info@webdev.camp"}
              %i.fa.icon-angle-right
              %b Email:
              info@webdev.camp
          %li
            %a{:href => "https://gitter.im/rubyclerks/office_clerk" , target: :blank}
              %i.fa.icon-angle-right
              %b Gitter chat:
              web_dev_camp/info
          %li
            %i.fa.icon-angle-right
              %b Phone:
              +358 (0)40 730 80 52
      .col-sm-4
        %h4
          %i.icon-envelope
          WERE WE ARE?
        %ul.list-unstyled
          %li
            Fiskarsintie 513
            %br
            10480 Antskog
            %br
            Finland
          %li
            -if user_signed_in?
              %li= sign_out_link
              %li= link_to "Account" ,  edit_user_registration_path
            -else
              %li
                = simple_form_for(:user, :url => session_path(:user), :html => { :role => 'form' , class: "form-horizontal"}) do |f|
                  .input-group
                    %span.input-group-addon
                      %i.fa.icon-mail
                    = f.email_field :email, class: 'form-control' , placeholder: :email
                  .input-group
                    %span.input-group-addon
                      %i.fa.icon-lock
                    = f.password_field :password, class: 'form-control' , placeholder: :password
                    %span.input-group-btn
                      = f.submit "Sign in" , class: "btn btn-success"
  %a.slidetop-toggle{:href => "#"}
