!!!
/[if IE 8] <html class="ie ie8">
/[if IE 9] <html class="ie ie9">
/ [if gt IE 9]><!
%html
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    / mobile settings
    %meta{:content => "width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0", :name => "viewport"}/
    %title Web Dev Camp - Change your career, change your life
    %meta{:content => "Bootcamp,ruby,devcamp", :name => "keywords"}/
    %meta{:content => "Developer bootcamp", :name => "description"}/
    %meta{:content => "Torsten Ruger", :name => "Author"}/

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.smoothscroll
    = render 'layouts/slidetop'
    #wrapper
      #header.sticky.clearfix
        %header#topNav
          .container
            / Mobile Menu Button
            %button.btn.btn-mobile{"data-target" => ".nav-main-collapse", "data-toggle" => "collapse"}
              %i.fa.icon-menu
            %a.logo.pull-left{:href => page_path(:index)}
              = image_tag "web_logo.png" , class: :desktop
              = image_tag "web_logo_mobile.png" , class: :mobile
            = render 'layouts/navigation'
      = yield
    = render 'layouts/footer'
  %a#toTop{:href => "#"}
