!!!
/[if IE 8] <html class="ie ie8">
/[if IE 9] <html class="ie ie9">
/ [if gt IE 9]><!
%html
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    / mobile settings
    %meta{:content => "width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0", :name => "viewport"}/
    %title Web Dev Camp - Change your career, change your life
    %meta{:content => "Bootcamp,ruby,devcamp", :name => "keywords"}/
    %meta{:content => "Developer bootcamp", :name => "description"}/
    %meta{:content => "Torsten Ruger", :name => "Author"}/


    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.smoothscroll.enable-animation
    = render 'layouts/slidetop'
    #wrapper
      /
        AVAILABLE HEADER CLASSES

        Default nav height: 96px

        \.translucent	= translucent header
        \.sticky			= sticky header
        \.static			= static header
        \.bottom			= header on bottom

        \.clearfix		= required for mobile menu, do not remove!

        Example Usage:  class="clearfix sticky header-sm transparent noborder"
      #header.sticky.clearfix
        / TOP NAV
        %header#topNav
          .container
            / Mobile Menu Button
            %button.btn.btn-mobile{"data-target" => ".nav-main-collapse", "data-toggle" => "collapse"}
              %i.fa.icon-menu
            / BUTTONS
            %ul.pull-right.nav.nav-pills.nav-second-main
              / SEARCH
              %li.search
                %a{:href => "javascript:;"}
                  %i.fa.icon-user
                .search-box
                  %form{:action => "page-search-result-1.html", :method => "get"}
                    .input-group
                      %input.form-control{:name => "src", :placeholder => "Search", :type => "text"}/
                      %span.input-group-btn
                        %button.btn.btn-primary{:type => "submit"} Search
            %a.logo.pull-left{:href => page_path(:index)}
              = image_tag "web_logo.png"
            = render 'layouts/navigation'
        / /Top Nav

      = yield
    = render 'layouts/footer'
  / SCROLL TO TOP
  %a#toTop{:href => "#"}
