!!!
/[if IE 8] <html class="ie ie8">
/[if IE 9] <html class="ie ie9">
/ [if gt IE 9]><!
%html
  / <![endif]
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    / mobile settings
    %meta{:content => "width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0", :name => "viewport"}/
    %title= @title || "Web Dev Camp"
    %meta{:content => "web development course, web dev course", :name => "keywords"}/
    %meta{:content => "#{description}", :name => "description"}/
    %meta{:content => "Torsten Ruger", :name => "Author"}/
    %meta{ name: "google-site-verification" , content: "U86xRj-I-z08iE7t1EOXwZeiVLj9ItO3ydSpqrsdE3Y"}

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .header
      = render 'layouts/navigation'
      = render 'layouts/messages'
    .main
      = yield
    = render 'layouts/footer'
    %a#toTop{:href => "#"}
    - if Rails.env.production?
      :javascript
        window.__lo_site_id = 59342;

        	(function() {
        		var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
        		wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
        		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
        	  })();
